

.Home {
  text-align: center;
}

.nav-content, .footer div div{
  max-width: 1366px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active{
  color: black!important;
}
.visible{
  display: block;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.path-svg{
  left: 30vw;
  z-index: -100000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
